body {
    user-select: none;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}

.content {
    font-size: 13px;
    padding: 10px;
}

h2 {
    text-decoration: underline;
}

p.cl {
    color:#00BFFF;
    ;
}

li {
    margin-bottom: 1em; /* Adjust the space between items */
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

#item-table {
    border-collapse: collapse;
    border: 2px solid #808080;
}

#item-table td {
    padding: 10px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #808080;
    font-size: 13px;
}

#item-table td:first-child {
    text-align: left;
}

#item-table td:last-child {
    text-align: right;
}

#item-table tr.pf.untoggled {
    color: #5aff5a; /* Pilot Flying */
}

#item-table tr.pm.untoggled {
    color: #ffff66; /* Pilot Monitoring */
}

#item-table tr.cl.untoggled {
    color: #00BFFF; /* Checklist Item */
}

#item-table tr.norm.untoggled {
    color: #ffffff; /* Normal Item */
}

#item-table tr.toggled td {
    color: #494949;
}

/* Button link styles */
a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1e90ff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}

a.button:hover {
    background-color: #1c86ee;
}
